.search{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 2.5em;
  background-color: #424242;
  box-shadow: 0px 0px 10px #000;
  z-index: 12;
}
.search input{
  border: none;
  border-radius: 2px;
  width: 300px;
  margin: auto 30px;
  /*box-shadow: inset 0px 1px 3px #000;*/
  background-color: #FFF;
  text-align: center;
}
.search input:hover{
  transform: scale(1.05, 1.05);
}
.champion-history{
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  overflow-y: hidden;
}
.champion-history span{
  margin: 0 10px;
  padding: 1em;
  background-color: #FFF;
  opacity: 0.7;
  box-shadow: 0 0 10px #000;
}
.champion-history span:hover{
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 20px #000;
}

.reset-button{
  border: none;
  box-shadow: 0px 0px 10px #000;
}
.reset-button:hover{
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 20px #000;
  transform: scale(1.1, 1.1);
}
